@import url('https://fonts.googleapis.com/css?family=Dosis|Barlow|Sedgwick+Ave+Display|Lacquer&display=swap');

@font-face {
    font-family: 'cubicinfinity';
    src: url('cu.inf/cubicinfinity-regular-webfont.woff2') format('woff2'),
         url('cu.inf/cubicinfinity-regular-webfont.woff') format('woff'),
         url('cu.inf/Cubicinfinity-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #f9f9f9;
}

header {
  padding: 1em;
  float: top;
}

a {
  align: center;
}

.logo {
  float: left;
  font-family: 'cubicinfinity';
  font-weight: normal;
  font-style: normal;
  padding-left: 10%;
}

.bio {
  float: right;
  padding: 0.5em;
  margin-right: 10%;
  font-family: Dosis;
  font-weight: normal;
  font-style: normal;
  color: black;
  /*border-style:  solid;
  border-color: #444;
  text-align: center;
  background-color: #FeFeFe;
  border-radius: 0.4em 0.1em 0.1em 0.4em;
  padding-left: 0.5em;*/
}

.back {
  float: left;
  padding: 0.5em;
  margin-left: 10%;
  font-family: Dosis;
  font-weight: normal;
  font-style: normal;
  color: black;
}

.textbody {
  font-family: Dosis;
  text-align: center;
  margin: auto;
  max-width: 45em;
  clear: both;
}

.articles {
  clear: both;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70em;
  margin: auto;
  font-family: Dosis;
  text-align: center;
  padding-top: 4em;
}

@media only screen and (max-width: 73em) {
  .articles {
    grid-template-columns: auto auto;
    width: 26.7em;
    margin-left: 3.5em;
  }
}

@media only screen and (max-width: 50em) {
  .articles {
    grid-template-columns: auto;
    width: 13.3em;
    margin-left: 3.5em;
  }
}

.frame {
  background-color: #fefefe;
  padding: 0.5em;
  margin: 0.5em;
  transition: 0.07s;
  box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.75);
  padding-bottom: 0.7em;
  color: black;
  text-decoration: none;
}

.frame:hover {
  transform: scale(1.025);
  transition: 0.07s;
}

.shortlines {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0em;
}

.image {
  object-fit: contain;
  max-height: 15em;
  max-width: 22em;
  margin: 0;
  padding: 0;
}

.icon {
  max-height: 2.5em;
  margin: auto;
  padding: 0.4em 0.9em 0.4em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 2.5em;
}